@charset "UTF-8";
/* ------------ */
html {
    font-size: 100%;
}
body {
    color: #2b2a27;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    color: #2b2a27;
    text-decoration: none;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}
.sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.btn {
    color: #2a2a2a;
    border: solid 1px #2a2a2a;
    display:inline-block;
    font-size: 0.750rem;
    padding: 14px 36px;
    margin-top: 30px;
}
/* ---------------- */
@media screen and (max-width: 834px) {
}
/* ------------------ */
#header {
    height: 100vh;
    background-image: url(../img/mainvisual.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    position:relative
}
#header .site-title{
    position: absolute;
    top: 30px;
    right: 30px;
}
/* -------------------------------------- */
#magazine {
    text-align: center;
    margin-bottom: 80px;
}
#magazine .flex-item {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}
#magazine  .flex-item .item {
    width: 49%;
    position: relative;
}
#magazine .flex-item .text {
    max-width: 290px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 0;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}
#magazin .flex-item .item .title {
    font-size: 1025rem;
    margin-bottom: 2px;
}
/* ---------------------------------- */
#fashion {
    height: 520px;
    background-image: url(../img/fashion.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 80px;
}
/* ------------------------------------- */
.catalog-antique {
    background-color: #f5f5f5;
    padding: 60px;
}
.catalog-antique .flex-item {
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.catalog-antique .item {
    width: 48%;
    text-align: center;
}
.catalog-antique .item .img {
    width: 100px;
}
.catalog-antique .sec-title {
    margin-bottom: 40px;
}
/* --------------------------------- */
#footer {
    background-color: #333;
    font-size: 0.750rem;
}
#footer .flex-item {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
#footer .item:first-child {
    padding: 60px 0;
}
#footer .item {
    width: 33%;
    line-height: 2;
}
#footer .item .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
#footer .copyright {
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
}